* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

p {
    color: white;
    font-size: 30px;
    text-align: center;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.sans {
    font-family: 'Raleway', sans-serif;
}

.fondo-maritimo {
    background-image: url(../img/sea.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-maritimo {
    color: white;
    text-shadow: 1px 1px 2px black; 
}

.fondo-bosque {
    background-image: url(../img/woods.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-bosque {
    color: #F4B62C;
    text-shadow: 1px 1px 2px black; 
}

.fondo-oscuro {
    background-image: url(../img/dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-oscuro {
    color: #A70000;
    text-shadow: 1px 1px 2px rgba(53, 53, 53, 0.304); 
    position: fixed;
    top: 20%;
}